In [1]:
import pandas as pd
import numpy as np

In [234]:
iris_data=pd.read_csv('iris.csv')
iris_data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [248]:
iris=iris_data[:99].values   # takeing only 99 rows to test
type(iris)

numpy.ndarray

In [249]:
def ED(x1,x2,length):
    distance=0
    for i in range(length):
        distance+=np.square(x1[i]-x2[i])
    return np.sqrt(distance)

In [250]:

test_instance = iris[-1 , 0 : 4] # last sample within the data set is given as test sample
training_set = iris[ : -1]       #remaining all are train

distances={}  # index : distance corresponding to index
def KNN_model(k,training_set,test_instance):
    
    for i in range(training_set.shape[0]-1):
        train_instance=training_set[i,0:4]
        length=training_set.shape[1]-1
        distances[i]=ED(test_instance,train_instance,length)
        sorted_distances=sorted(distances.items(),key=operator.itemgetter(1))  
    neighbours={ }
    
    for x in range(0,k):
        neighbours[sorted_distances[x][0]]=sorted_distances[x][1]
    
    neighbours_class={}   # class:count
      
    
    for x in neighbours.keys():
        response = training_set[x,-1]
               
        if response in neighbours_class.keys():
            neighbours_class[response] = (neighbours_class[response])+1
               
        else:
            neighbours_class[response] = 1
                    
    print(neighbours_class)        
    sort_count=sorted(neighbours_class,key=operator.itemgetter(1),reverse=True) 
    return (sort_count[0])


test_instance = iris[-1 , 0 : iris.shape[1]-1] # last sample within the data set is given as test sample
training_set = iris[ : -1]       #remaining all are train

distances_loop=KNN_model(5,training_set,test_instance)
print(distances_loop)

{'versicolor': 5}
versicolor

In [233]:
np.where(iris_data["species"]=="virginica")

(array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
        113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
        126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
        139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149], dtype=int64),)

In [241]:
iris_data.loc[99]

sepal_length           5.7
sepal_width            2.8
petal_length           4.1
petal_width            1.3
species         versicolor
Name: 99, dtype: object

# using scikitlearn

In [253]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier

In [259]:
classifier = KNeighborsClassifier(n_neighbors=5)

In [260]:
classifier.fit(training_set[:,:-1],training_set[:,-1])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [263]:
test_instance = iris[-1 , 0 : iris.shape[1]-1].reshape(1,-1)
y_pred=classifier.predict(test_instance)

In [265]:
y_pred

array(['versicolor'], dtype=object)

In [271]:
iris[-1,-1]

'versicolor'